/********* vaiables *********/
:root {
  /* colors */
  --primary: #ffc636;
  --secondary: #0a0858;
}

/***** resetting the default********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubic-regular";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/******* base styles****** */
body {
  background-color: var(--secondary);
}

.button {
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  background-color: var(--secondary);
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.button:hover {
  transition: all 200ms linear;
  background-color: var(--primary);
  color: var(--secondary);
}

.button:active {
  transform: scale(0.95);
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  border: 2px solid #c4c4c4;
  color: #f2f2f2;
  padding: 10px 16px;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #a4a4a4;
}

h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: 800;
}

p,
a,
li {
  color: #9f93d8;
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.1em;
}

.leading {
  font-size: 1.1em;
}

/********** fonts********* */
/* regular */
@font-face {
  font-family: "Rubic-regular";
  src: url("./assets/fonts/Rubik-Regular.ttf");
}
/* medium */
@font-face {
  font-family: "Rubic-medium";
  src: url("./assets/fonts/Rubik-Medium.ttf");
}
/* semi bold */
@font-face {
  font-family: "Rubic-semibold";
  src: url("./assets/fonts/Rubik-SemiBold.ttf");
}
/* bold */
@font-face {
  font-family: "Rubic-bold";
  src: url("./assets/fonts/Rubik-Bold.ttf");
}

/******* mobile styles ********/
/*---------  nav bar ---------- */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.site-nav {
  margin: 20px;
}

.site-nav h1 {
  grid-column: 1/4;
}

.site-nav ul {
  display: none;
}

/*--------  welcome section ----------*/
#welcome {
  padding: 0px 20px 20px 20px;
  overflow: hidden;
}

.welcome-txt {
  grid-column: 1/6;
}

.welcome-img {
  grid-column: 6/-1;
}

.welcome-txt .leading {
  margin: 20px 0px;
}

.welcome-img img {
  width: 200%;
}

/*-------  project section -------- */
#portfolio {
  padding: 20px 20px 0px 20px;
  background: url("./assets/square_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#portfolio h3 {
  text-align: center;
}

.projects a {
  grid-column: 1/-1;
  margin: 20px 0px;
}

.projects {
  text-align: center;
}

.projects a img {
  margin: 0 20px;
  max-width: 50%;
  align-self: center;
}

/*-------  skills section -------- */
#skills {
  padding: 20px;
  background-color: #07083e;
}

#skills h3 {
  text-align: center;
}
#skills ul {
  text-align: center;
}

#skills ul li {
  align-items: stretch;
  grid-column: span 4;
  margin: 20px;
}

#skills ul li img {
  height: 80px;
  margin: 10px auto;
}

/*-------  section section -------- */
#contact {
  padding: 20px;
}

#contact h3,
.leading {
  text-align: center;
}

#contact form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

#contact form * {
  margin: 5px 0px;
}

#contact form .button {
  align-self: center;
}
